In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [5]:
df=pd.read_csv("/content/drive/MyDrive/Market_Basket_Optimisation.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.12/dist-packages (from pyECLAT) (2.2.2)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.12/dist-packages (from pyECLAT) (2.0.2)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.12/dist-packages (from pyECLAT) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25.3->pyECLAT) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25.3->pyECLAT) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25.3->pyECLAT) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.17.0)
Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [7]:
from pyECLAT import ECLAT

In [8]:
eclat_instance =ECLAT(data=df,verbose=True)

100%|██████████| 120/120 [00:01<00:00, 74.37it/s]
100%|██████████| 120/120 [00:00<00:00, 3806.69it/s]
100%|██████████| 120/120 [00:00<00:00, 2785.93it/s]

In [9]:
eclat_instance.uniq_

['green grapes',
 'cereals',
 'parmesan cheese',
 'whole weat flour',
 'whole wheat rice',
 'rice',
 'mashed potato',
 'fresh tuna',
 'water spray',
 'sparkling water',
 'mineral water',
 'energy bar',
 'chocolate',
 'escalope',
 'eggs',
 'champagne',
 'turkey',
 'burger sauce',
 'energy drink',
 'cookies',
 'protein bar',
 'milk',
 'soup',
 'carrots',
 'chicken',
 'blueberries',
 'tomato juice',
 'napkins',
 'clothes accessories',
 'ground beef',
 'cottage cheese',
 'babies food',
 'body spray',
 'pickles',
 ' asparagus',
 'hot dogs',
 'honey',
 'almonds',
 'shallot',
 'herb & pepper',
 'eggplant',
 'mint green tea',
 'oil',
 'muffins',
 'tomatoes',
 'oatmeal',
 'magazines',
 'mint',
 'mayonnaise',
 'pasta',
 'fromage blanc',
 'strawberries',
 'fresh bread',
 'bacon',
 'pet food',
 'brownies',
 'zucchini',
 'hand protein bar',
 'cream',
 'pancakes',
 'mushroom cream sauce',
 'yams',
 'green beans',
 'barbecue sauce',
 'extra dark chocolate',
 'ham',
 'black tea',
 'olive oil',
 'cake',
 'cider',
 'bramble',
 'chutney',
 'candy bars',
 'light mayo',
 'burgers',
 'avocado',
 'frozen smoothie',
 'shrimp',
 'whole wheat pasta',
 'tea',
 'gums',
 'meatballs',
 'french fries',
 'salt',
 'spinach',
 'tomato sauce',
 'chocolate bread',
 'nonfat milk',
 'toothpaste',
 'vegetables mix',
 'chili',
 'french wine',
 'light cream',
 'cauliflower',
 'gluten free bar',
 'strong cheese',
 'white wine',
 'asparagus',
 'spaghetti',
 'salad',
 'dessert wine',
 'grated cheese',
 'soda',
 'red wine',
 'pepper',
 'salmon',
 'shampoo',
 'bug spray',
 'antioxydant juice',
 'cooking oil',
 'melons',
 'green tea',
 'yogurt cake',
 'ketchup',
 'sandwich',
 'low fat yogurt',
 'flax seed',
 'butter',
 'corn',
 'frozen vegetables',
 nan]

In [10]:
get_ECLAT_indexes,get_ECLAT_supports=eclat_instance.fit(min_support=0.02,min_combination=1,max_combination=3,separator='&',verbose=True)

Combination 1 by 1

53it [00:02, 24.62it/s]

Combination 2 by 2

1378it [00:28, 48.27it/s]

Combination 3 by 3

23426it [08:00, 48.80it/s]